@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    height: 0;
    background: transparent; /* Optional: just make scrollbar invisible */
}
